<?xml version="1.0" encoding="utf-8"?>
<manifest	xmlns:android="http://schemas.android.com/apk/res/android"
    package="vclibs.communication"
    android:versionCode="20141129"
    android:versionName="1.3" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true">
    </application>

</manifest>
